*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/
/mod0/build/generated/ap_generated_sources/debug/out/a/RouterMap__TheRouter__2079150110.java
/mod0/build/generated/source/buildConfig/debug/com/example/mod0/BuildConfig.java
/mod0/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/AndroidManifest.xml
/mod0/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/output-metadata.json
/mod0/build/intermediates/aapt_friendly_merged_manifests/debug/processDebugManifest/aapt/AndroidManifest.xml
/mod0/build/intermediates/aapt_friendly_merged_manifests/debug/processDebugManifest/aapt/output-metadata.json
/mod0/build/intermediates/annotation_processor_list/debug/javaPreCompileDebug/annotationProcessors.json
/mod0/build/intermediates/annotation_processor_list/debug/annotationProcessors.json
/mod0/build/intermediates/compile_library_classes_jar/debug/bundleLibCompileToJarDebug/classes.jar
/mod0/build/intermediates/compile_library_classes_jar/debug/classes.jar
/mod0/build/intermediates/compile_r_class_jar/debug/generateDebugRFile/R.jar
/mod0/build/intermediates/compile_r_class_jar/debug/R.jar
/mod0/build/intermediates/compile_symbol_list/debug/generateDebugRFile/R.txt
/mod0/build/intermediates/compile_symbol_list/debug/R.txt
/mod0/build/intermediates/compiled_local_resources/debug/compileDebugLibraryResources/out/layout_activity0_mop0.xml.flat
/mod0/build/intermediates/compiled_local_resources/debug/out/layout_activity0_mop0.xml.flat
/mod0/build/intermediates/incremental/debug/packageDebugResources/compile-file-map.properties
/mod0/build/intermediates/incremental/debug/packageDebugResources/merger.xml
/mod0/build/intermediates/incremental/mergeDebugAssets/merger.xml
/mod0/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
/mod0/build/intermediates/incremental/mergeDebugShaders/merger.xml
/mod0/build/intermediates/incremental/packageDebugAssets/merger.xml
/mod0/build/intermediates/javac/debug/classes/a/RouterMap__TheRouter__1626295838.class
/mod0/build/intermediates/javac/debug/classes/com/example/mod0/BuildConfig.class
/mod0/build/intermediates/javac/debug/classes/com/example/mod0/Mop0Activity1.class
/mod0/build/intermediates/javac/debug/classes/com/example/mod0/RouterPath.class
/mod0/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/a/RouterMap__TheRouter__2079150110.class
/mod0/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/example/mod0/Mop0Activity1.class
/mod0/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/example/mod0/RouterPath.class
/mod0/build/intermediates/library_java_res/debug/res.jar
/mod0/build/intermediates/local_only_symbol_list/debug/parseDebugLocalResources/R-def.txt
/mod0/build/intermediates/local_only_symbol_list/debug/R-def.txt
/mod0/build/intermediates/manifest_merge_blame_file/debug/processDebugManifest/manifest-merger-blame-debug-report.txt
/mod0/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
/mod0/build/intermediates/merged_manifest/debug/processDebugManifest/AndroidManifest.xml
/mod0/build/intermediates/merged_manifest/debug/AndroidManifest.xml
/mod0/build/intermediates/navigation_json/debug/extractDeepLinksDebug/navigation.json
/mod0/build/intermediates/navigation_json/debug/navigation.json
/mod0/build/intermediates/nested_resources_validation_report/debug/generateDebugResources/nestedResourcesValidationReport.txt
/mod0/build/intermediates/packaged_manifests/debug/output-metadata.json
/mod0/build/intermediates/packaged_res/debug/layout/activity0_mop0.xml
/mod0/build/intermediates/packaged_res/debug/packageDebugResources/layout/activity0_mop0.xml
/mod0/build/intermediates/runtime_library_classes_jar/debug/bundleLibRuntimeToJarDebug/classes.jar
/mod0/build/intermediates/runtime_library_classes_jar/debug/classes.jar
/mod0/build/intermediates/symbol_list_with_package_name/debug/generateDebugRFile/package-aware-r.txt
/mod0/build/intermediates/symbol_list_with_package_name/debug/package-aware-r.txt
/mod0/build/outputs/logs/manifest-merger-debug-report.txt
/mod0/build/tmp/compileDebugJavaWithJavac/previous-compilation-data.bin
/mod1/build/
/mod2/build/generated/ap_generated_sources/debug/out/a/RouterMap__TheRouter__512392160.java
/mod2/build/generated/source/buildConfig/debug/com/example/mod2/BuildConfig.java
/mod2/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/AndroidManifest.xml
/mod2/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/output-metadata.json
/mod2/build/intermediates/aapt_friendly_merged_manifests/debug/processDebugManifest/aapt/AndroidManifest.xml
/mod2/build/intermediates/aapt_friendly_merged_manifests/debug/processDebugManifest/aapt/output-metadata.json
/mod2/build/intermediates/annotation_processor_list/debug/javaPreCompileDebug/annotationProcessors.json
/mod2/build/intermediates/annotation_processor_list/debug/annotationProcessors.json
/mod2/build/intermediates/compile_library_classes_jar/debug/bundleLibCompileToJarDebug/classes.jar
/mod2/build/intermediates/compile_library_classes_jar/debug/classes.jar
/mod2/build/intermediates/compile_r_class_jar/debug/generateDebugRFile/R.jar
/mod2/build/intermediates/compile_r_class_jar/debug/R.jar
/mod2/build/intermediates/compile_symbol_list/debug/generateDebugRFile/R.txt
/mod2/build/intermediates/compile_symbol_list/debug/R.txt
/mod2/build/intermediates/compiled_local_resources/debug/compileDebugLibraryResources/out/layout_activity_mod21.xml.flat
/mod2/build/intermediates/compiled_local_resources/debug/out/layout_activity_mod21.xml.flat
/mod2/build/intermediates/incremental/debug/packageDebugResources/merged.dir/values/values.xml
/mod2/build/intermediates/incremental/debug/packageDebugResources/compile-file-map.properties
/mod2/build/intermediates/incremental/debug/packageDebugResources/merger.xml
/mod2/build/intermediates/incremental/mergeDebugAssets/merger.xml
/mod2/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
/mod2/build/intermediates/incremental/mergeDebugShaders/merger.xml
/mod2/build/intermediates/incremental/packageDebugAssets/merger.xml
/mod2/build/intermediates/javac/debug/classes/a/RouterMap__TheRouter__1101913508.class
/mod2/build/intermediates/javac/debug/classes/com/example/mod2/BuildConfig.class
/mod2/build/intermediates/javac/debug/classes/com/example/mod2/Mod2Activity1.class
/mod2/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/a/RouterMap__TheRouter__512392160.class
/mod2/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/example/mod2/Mod2Activity1.class
/mod2/build/intermediates/library_java_res/debug/res.jar
/mod2/build/intermediates/local_only_symbol_list/debug/parseDebugLocalResources/R-def.txt
/mod2/build/intermediates/local_only_symbol_list/debug/R-def.txt
/mod2/build/intermediates/manifest_merge_blame_file/debug/processDebugManifest/manifest-merger-blame-debug-report.txt
/mod2/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
/mod2/build/intermediates/merged_manifest/debug/processDebugManifest/AndroidManifest.xml
/mod2/build/intermediates/merged_manifest/debug/AndroidManifest.xml
/mod2/build/intermediates/navigation_json/debug/extractDeepLinksDebug/navigation.json
/mod2/build/intermediates/navigation_json/debug/navigation.json
/mod2/build/intermediates/nested_resources_validation_report/debug/generateDebugResources/nestedResourcesValidationReport.txt
/mod2/build/intermediates/packaged_manifests/debug/output-metadata.json
/mod2/build/intermediates/packaged_res/debug/layout/activity_mod21.xml
/mod2/build/intermediates/packaged_res/debug/packageDebugResources/layout/activity_mod21.xml
/mod2/build/intermediates/packaged_res/debug/packageDebugResources/values/values.xml
/mod2/build/intermediates/packaged_res/debug/values/values.xml
/mod2/build/intermediates/runtime_library_classes_jar/debug/bundleLibRuntimeToJarDebug/classes.jar
/mod2/build/intermediates/runtime_library_classes_jar/debug/classes.jar
/mod2/build/intermediates/symbol_list_with_package_name/debug/generateDebugRFile/package-aware-r.txt
/mod2/build/intermediates/symbol_list_with_package_name/debug/package-aware-r.txt
/mod2/build/outputs/logs/manifest-merger-debug-report.txt
/mod2/build/tmp/compileDebugJavaWithJavac/previous-compilation-data.bin
/mod3/build/generated/ap_generated_sources/debug/out/a/ServiceProvider__TheRouter__156177650.java
/mod3/build/intermediates/aapt_friendly_merged_manifests/debug/processDebugManifest/aapt/AndroidManifest.xml
/mod3/build/intermediates/aapt_friendly_merged_manifests/debug/processDebugManifest/aapt/output-metadata.json
/mod3/build/intermediates/annotation_processor_list/debug/javaPreCompileDebug/annotationProcessors.json
/mod3/build/intermediates/compile_library_classes_jar/debug/bundleLibCompileToJarDebug/classes.jar
/mod3/build/intermediates/compile_r_class_jar/debug/generateDebugRFile/R.jar
/mod3/build/intermediates/compile_symbol_list/debug/generateDebugRFile/R.txt
/mod3/build/intermediates/incremental/debug/packageDebugResources/compile-file-map.properties
/mod3/build/intermediates/incremental/debug/packageDebugResources/merger.xml
/mod3/build/intermediates/incremental/mergeDebugAssets/merger.xml
/mod3/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
/mod3/build/intermediates/incremental/mergeDebugShaders/merger.xml
/mod3/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/a/ServiceProvider__TheRouter__156177650.class
/mod3/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/example/mod3/ImplHello0.class
/mod3/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/example/mod3/ImplHello1.class
/mod3/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/example/mod3/ImplHello2.class
/mod3/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/example/mod3/ImplHello3.class
/mod3/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/example/mod3/TestMethod.class
/mod3/build/intermediates/local_only_symbol_list/debug/parseDebugLocalResources/R-def.txt
/mod3/build/intermediates/manifest_merge_blame_file/debug/processDebugManifest/manifest-merger-blame-debug-report.txt
/mod3/build/intermediates/merged_manifest/debug/processDebugManifest/AndroidManifest.xml
/mod3/build/intermediates/navigation_json/debug/extractDeepLinksDebug/navigation.json
/mod3/build/intermediates/nested_resources_validation_report/debug/generateDebugResources/nestedResourcesValidationReport.txt
/mod3/build/intermediates/runtime_library_classes_jar/debug/bundleLibRuntimeToJarDebug/classes.jar
/mod3/build/intermediates/symbol_list_with_package_name/debug/generateDebugRFile/package-aware-r.txt
/mod3/build/outputs/logs/manifest-merger-debug-report.txt
/mod3/build/tmp/compileDebugJavaWithJavac/previous-compilation-data.bin
/mod4/build/generated/source/buildConfig/debug/com/example/mod4/BuildConfig.java
/mod4/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/AndroidManifest.xml
/mod4/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/output-metadata.json
/mod4/build/intermediates/aapt_friendly_merged_manifests/debug/processDebugManifest/aapt/AndroidManifest.xml
/mod4/build/intermediates/aapt_friendly_merged_manifests/debug/processDebugManifest/aapt/output-metadata.json
/mod4/build/intermediates/annotation_processor_list/debug/javaPreCompileDebug/annotationProcessors.json
/mod4/build/intermediates/annotation_processor_list/debug/annotationProcessors.json
/mod4/build/intermediates/compile_library_classes_jar/debug/bundleLibCompileToJarDebug/classes.jar
/mod4/build/intermediates/compile_library_classes_jar/debug/classes.jar
/mod4/build/intermediates/compile_r_class_jar/debug/generateDebugRFile/R.jar
/mod4/build/intermediates/compile_r_class_jar/debug/R.jar
/mod4/build/intermediates/compile_symbol_list/debug/generateDebugRFile/R.txt
/mod4/build/intermediates/compile_symbol_list/debug/R.txt
/mod4/build/intermediates/incremental/debug/packageDebugResources/compile-file-map.properties
/mod4/build/intermediates/incremental/debug/packageDebugResources/merger.xml
/mod4/build/intermediates/incremental/mergeDebugAssets/merger.xml
/mod4/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
/mod4/build/intermediates/incremental/mergeDebugShaders/merger.xml
/mod4/build/intermediates/incremental/packageDebugAssets/merger.xml
/mod4/build/intermediates/javac/debug/classes/com/example/mod4/BuildConfig.class
/mod4/build/intermediates/library_java_res/debug/res.jar
/mod4/build/intermediates/local_only_symbol_list/debug/parseDebugLocalResources/R-def.txt
/mod4/build/intermediates/local_only_symbol_list/debug/R-def.txt
/mod4/build/intermediates/manifest_merge_blame_file/debug/processDebugManifest/manifest-merger-blame-debug-report.txt
/mod4/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
/mod4/build/intermediates/merged_manifest/debug/processDebugManifest/AndroidManifest.xml
/mod4/build/intermediates/merged_manifest/debug/AndroidManifest.xml
/mod4/build/intermediates/navigation_json/debug/extractDeepLinksDebug/navigation.json
/mod4/build/intermediates/navigation_json/debug/navigation.json
/mod4/build/intermediates/nested_resources_validation_report/debug/generateDebugResources/nestedResourcesValidationReport.txt
/mod4/build/intermediates/packaged_manifests/debug/output-metadata.json
/mod4/build/intermediates/runtime_library_classes_jar/debug/bundleLibRuntimeToJarDebug/classes.jar
/mod4/build/intermediates/runtime_library_classes_jar/debug/classes.jar
/mod4/build/intermediates/symbol_list_with_package_name/debug/generateDebugRFile/package-aware-r.txt
/mod4/build/intermediates/symbol_list_with_package_name/debug/package-aware-r.txt
/mod4/build/outputs/logs/manifest-merger-debug-report.txt
/modInter/build/generated/source/buildConfig/debug/com/example/modinter/BuildConfig.java
/modInter/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/AndroidManifest.xml
/modInter/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/output-metadata.json
/modInter/build/intermediates/aapt_friendly_merged_manifests/debug/processDebugManifest/aapt/AndroidManifest.xml
/modInter/build/intermediates/aapt_friendly_merged_manifests/debug/processDebugManifest/aapt/output-metadata.json
/modInter/build/intermediates/annotation_processor_list/debug/javaPreCompileDebug/annotationProcessors.json
/modInter/build/intermediates/annotation_processor_list/debug/annotationProcessors.json
/modInter/build/intermediates/compile_library_classes_jar/debug/bundleLibCompileToJarDebug/classes.jar
/modInter/build/intermediates/compile_library_classes_jar/debug/classes.jar
/modInter/build/intermediates/compile_r_class_jar/debug/generateDebugRFile/R.jar
/modInter/build/intermediates/compile_r_class_jar/debug/R.jar
/modInter/build/intermediates/compile_symbol_list/debug/generateDebugRFile/R.txt
/modInter/build/intermediates/compile_symbol_list/debug/R.txt
/modInter/build/intermediates/incremental/debug/packageDebugResources/compile-file-map.properties
/modInter/build/intermediates/incremental/debug/packageDebugResources/merger.xml
/modInter/build/intermediates/incremental/mergeDebugAssets/merger.xml
/modInter/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
/modInter/build/intermediates/incremental/mergeDebugShaders/merger.xml
/modInter/build/intermediates/incremental/packageDebugAssets/merger.xml
/modInter/build/intermediates/javac/debug/classes/com/example/modinter/BuildConfig.class
/modInter/build/intermediates/javac/debug/classes/com/example/modinter/Hello1Provider.class
/modInter/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/example/modinter/Hello1Provider.class
/modInter/build/intermediates/library_java_res/debug/res.jar
/modInter/build/intermediates/local_only_symbol_list/debug/parseDebugLocalResources/R-def.txt
/modInter/build/intermediates/local_only_symbol_list/debug/R-def.txt
/modInter/build/intermediates/manifest_merge_blame_file/debug/processDebugManifest/manifest-merger-blame-debug-report.txt
/modInter/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
/modInter/build/intermediates/merged_manifest/debug/processDebugManifest/AndroidManifest.xml
/modInter/build/intermediates/merged_manifest/debug/AndroidManifest.xml
/modInter/build/intermediates/navigation_json/debug/extractDeepLinksDebug/navigation.json
/modInter/build/intermediates/navigation_json/debug/navigation.json
/modInter/build/intermediates/nested_resources_validation_report/debug/generateDebugResources/nestedResourcesValidationReport.txt
/modInter/build/intermediates/packaged_manifests/debug/output-metadata.json
/modInter/build/intermediates/runtime_library_classes_jar/debug/bundleLibRuntimeToJarDebug/classes.jar
/modInter/build/intermediates/runtime_library_classes_jar/debug/classes.jar
/modInter/build/intermediates/symbol_list_with_package_name/debug/generateDebugRFile/package-aware-r.txt
/modInter/build/intermediates/symbol_list_with_package_name/debug/package-aware-r.txt
/modInter/build/outputs/logs/manifest-merger-debug-report.txt
/modInter/build/tmp/compileDebugJavaWithJavac/previous-compilation-data.bin
